.removeUserButton {
    border: none; 
    border-radius: 3px;
    padding: .5rem; 
    display: flex;
    cursor: pointer; 
    background-color: transparent;
    transition: background-color .5s;
}

.removeUserButton:hover {
    box-shadow: none
}

.user {
    padding-inline: 0;
    padding-block: .25rem;
    background-color: transparent;
    border-bottom: 2px solid var(--gray-90);
    transition: border-bottom .2s ease;
    border-radius: 0;
}

.user:focus {
    border-bottom: 2px solid black;
    outline: 0;
    box-shadow: none;
}
