.permissionSummary {
    cursor: pointer;
    border-bottom: 3px solid var(--gray);
    padding: .5rem;
    border-radius: 3px;
    font-weight: bold;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transition: border-color .5s
}

.permissionSummary::marker {
    color: transparent;
    font-size: 0;
}

.permissionDetails img {
    transition: transform .5s;
    transform: rotate(0deg);
}

.permissionDetails[open] img {
    transform: rotate(45deg);
}

.permissionDetails[open] > .permissionSummary {
    border-color: black;
}

.removeUserButton {
    border: none; 
    background-color: pink; 
    border-radius: 3px;
    height: 100%;
    padding: 1em; 
    cursor: pointer; 
}

.removeUserButton:hover {
    background-color: red;
}