.permissionSummary {
    cursor: pointer;
    border-bottom: 3px solid var(--gray);
    padding: .5rem;
    border-radius: 3px;
    font-weight: bold;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transition: border-color .2s;
}

.permissionSummary::marker {
    color: transparent;
    font-size: 0;
}

.permissionDetails img {
    transition: transform .2s;
    transform: rotate(0deg);
}

.permissionDetails[open] img {
    transform: rotate(45deg);
}

.permissionDetails[open] > .permissionSummary {
    border-color: black;
}

.removeUserButton {
    border: none; 
    border-radius: 3px;
    padding: .5rem; 
    display: flex;
    cursor: pointer; 
    background-color: transparent;
    transition: background-color .5s;
}

.removeUserButton:hover {
    background-color: var(--gray-90);
}