/* Table styling*/
table {
    --thead-color: #0066b2;
    --thead-color-text: white;
    --maybe: #d4e5f2;
    min-width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 3px;
} 
  
thead {
    background-color: var(--thead-color);
    color: var(--thead-color-text);
}
  
th, td {
    padding: 1em;
}

  
tbody tr:nth-child(odd) {
    background-color: ghostwhite;
}
  
tbody tr:nth-child(even) {
    background-color: #ececec;
}
  
tbody a {
    font-weight: bold;
}


/* Radio Image */

.radioImageWrapper {
    position: relative;
}

.radioImageWrapper > input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.radioImageWrapper > input[type="radio"]:hover ~ .radioImage {
    outline: 3px solid var(--accent-color);
}

.radioImageWrapper > input[type="radio"]:checked ~ .radioImage {
    outline: 3px solid var(--accent-color);
}

.radioImage {
    background-color: lightgray;
    border-radius: 3px;
    padding: .25em;
    display: grid;
    place-items: center;
    position: relative;
}
