.details[open] > ul {
    border-left: 2px dashed lightgray;
}

.details[open] > summary {
    font-weight: bold;
}

.details > summary {
    background-color: unset;
    padding: .25em 3em .25em 0;
    width: fit-content;
}

.details > summary:hover {
    font-weight: bold;
}

.details > summary:hover::marker{
    color: black;
}

.details > summary::marker {
    color: gray;
}

.details[open] > summary::marker {
    color: black;
}

/* Links */

.link, .link > span {
    color: black;
    text-decoration: none;
    width: fit-content;
    padding-right: 3em;
}

.link:hover, .link.focus {
    text-decoration: underline;
}