:root {
    --seagreen: hsl(146, 50%, 36%);
    --seagreen-10: hsl(146, 50%, 10%);
    --seagreen-20: hsl(146, 50%, 20%);
    --seagreen-30: hsl(146, 50%, 30%);
    --seagreen-40: hsl(146, 50%, 40%);
    --seagreen-50: hsl(146, 50%, 50%);
    --seagreen-60: hsl(146, 50%, 60%);
    --seagreen-70: hsl(146, 50%, 70%);
    --seagreen-80: hsl(146, 50%, 80%);
    --seagreen-90: hsl(146, 50%, 90%);

    --darkblue: hsl(195, 97%, 13%);
    --darkblue-10: hsl(195, 97%, 10%);
    --darkblue-20: hsl(195, 97%, 20%);
    --darkblue-30: hsl(195, 97%, 30%);
    --darkblue-40: hsl(195, 97%, 40%);
    --darkblue-50: hsl(195, 97%, 50%);
    --darkblue-60: hsl(195, 97%, 60%);
    --darkblue-70: hsl(195, 97%, 70%);
    --darkblue-80: hsl(195, 97%, 80%);
    --darkblue-90: hsl(195, 97%, 90%);

    --blue: hsl(206, 100%, 35%);
    --blue-10: hsl(206, 100%, 10%);
    --blue-20: hsl(206, 100%, 20%);
    --blue-30: hsl(206, 100%, 30%);
    --blue-40: hsl(206, 100%, 40%);
    --blue-50: hsl(206, 100%, 50%);
    --blue-60: hsl(206, 100%, 60%);
    --blue-70: hsl(206, 100%, 70%);
    --blue-80: hsl(206, 100%, 80%);
    --blue-90: hsl(206, 100%, 90%);

    --brown: hsl(28, 40%, 83%);
    --brown-10: hsl(28, 40%, 10%);
    --brown-20: hsl(28, 40%, 20%);
    --brown-30: hsl(28, 40%, 30%);
    --brown-40: hsl(28, 40%, 40%);
    --brown-50: hsl(28, 40%, 50%);
    --brown-60: hsl(28, 40%, 60%);
    --brown-70: hsl(28, 40%, 70%);
    --brown-80: hsl(28, 40%, 80%);
    --brown-90: hsl(28, 40%, 90%);

    --gray: hsl(207, 21%, 82%);
    --gray-10: hsl(207, 21%, 10%);
    --gray-20: hsl(207, 21%, 20%);
    --gray-30: hsl(207, 21%, 30%);
    --gray-40: hsl(207, 21%, 40%);
    --gray-50: hsl(207, 21%, 50%);
    --gray-60: hsl(207, 21%, 60%);
    --gray-70: hsl(207, 21%, 70%);
    --gray-80: hsl(207, 21%, 80%);
    --gray-90: hsl(207, 21%, 90%);

    --white: hsl(42, 33%, 94%);
    --white-10: hsl(42, 33%, 10%);
    --white-20: hsl(42, 33%, 20%);
    --white-30: hsl(42, 33%, 30%);
    --white-40: hsl(42, 33%, 40%);
    --white-50: hsl(42, 33%, 50%);
    --white-60: hsl(42, 33%, 60%);
    --white-70: hsl(42, 33%, 70%);
    --white-80: hsl(42, 33%, 80%);
    --white-90: hsl(42, 33%, 90%);
}

/* Background color */
.transparent {
    background-color: transparent;
}

.seagreen {
    background-color: var(--seagreen);
}

.seagreen-10 {
    background-color: var(--seagreen-10);
}

.seagreen-20 {
    background-color: var(--seagreen-20);
}

.seagreen-30 {
    background-color: var(--seagreen-30);
}

.seagreen-40 {
    background-color: var(--seagreen-40);
}

.seagreen-50 {
    background-color: var(--seagreen-50);
}

.seagreen-60 {
    background-color: var(--seagreen-60);
}

.seagreen-70 {
    background-color: var(--seagreen-70);
}

.seagreen-80 {
    background-color: var(--seagreen-80);
}

.seagreen-90 {
    background-color: var(--seagreen-90);
}

.darkblue {
    background-color: var(--darkblue);
}

.darkblue-10 {
    background-color: var(--darkblue-10);
}

.darkblue-20 {
    background-color: var(--darkblue-20);
}

.darkblue-30 {
    background-color: var(--darkblue-30);
}

.darkblue-40 {
    background-color: var(--darkblue-40);
}

.darkblue-50 {
    background-color: var(--darkblue-50);
}

.darkblue-60 {
    background-color: var(--darkblue-60);
}

.darkblue-70 {
    background-color: var(--darkblue-70);
}

.darkblue-80 {
    background-color: var(--darkblue-80);
}

.darkblue-90 {
    background-color: var(--darkblue-90);
}

.blue {
    background-color: var(--blue);
}

.blue-10 {
    background-color: var(--blue-10);
}

.blue-20 {
    background-color: var(--blue-20);
}

.blue-30 {
    background-color: var(--blue-30);
}

.blue-40 {
    background-color: var(--blue-40);
}

.blue-50 {
    background-color: var(--blue-50);
}

.blue-60 {
    background-color: var(--blue-60);
}

.blue-70 {
    background-color: var(--blue-70);
}

.blue-80 {
    background-color: var(--blue-80);
}

.blue-90 {
    background-color: var(--blue-90);
}

.brown {
    background-color: var(--brown);
}

.brown-10 {
    background-color: var(--brown-10);
}

.brown-20 {
    background-color: var(--brown-20);
}

.brown-30 {
    background-color: var(--brown-30);
}

.brown-40 {
    background-color: var(--brown-40);
}

.brown-50 {
    background-color: var(--brown-50);
}

.brown-60 {
    background-color: var(--brown-60);
}

.brown-70 {
    background-color: var(--brown-70);
}

.brown-80 {
    background-color: var(--brown-80);
}

.brown-90 {
    background-color: var(--brown-90);
}

.gray {
    background-color: var(--gray);
}

.gray-10 {
    background-color: var(--gray-10);
}

.gray-20 {
    background-color: var(--gray-20);
}

.gray-30 {
    background-color: var(--gray-30);
}

.gray-40 {
    background-color: var(--gray-40);
}

.gray-50 {
    background-color: var(--gray-50);
}

.gray-60 {
    background-color: var(--gray-60);
}

.gray-70 {
    background-color: var(--gray-70);
}

.gray-80 {
    background-color: var(--gray-80);
}

.gray-90 {
    background-color: var(--gray-90);
}

.white {
    background-color: var(--white);
}

.white-10 {
    background-color: var(--white-10);
}

.white-20 {
    background-color: var(--white-20);
}

.white-30 {
    background-color: var(--white-30);
}

.white-40 {
    background-color: var(--white-40);
}

.white-50 {
    background-color: var(--white-50);
}

.white-60 {
    background-color: var(--white-60);
}

.white-70 {
    background-color: var(--white-70);
}

.white-80 {
    background-color: var(--white-80);
}

.white-90 {
    background-color: var(--white-90);
}

.red {
    background-color: red;
} 

.purewhite {
    background-color: white;
}

.pureblack {
    background-color: black;
}

/* Color */

.color-purewhite {
    color: white;
}

.color-pureblack {
    color: black;
}