textarea {
    border-radius: 3px;
    border: none;
    display: block;
    width: 100%;
    resize: vertical;
}

input, select, textarea, button {
    background-color: var(--gray-90);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 1rem;
}

label {
    display: block;
    font-weight: bold;
    margin: 2rem 0 .75rem 0;
}

fieldset {
    border: 3px solid var(--gray-90);
    border-radius: 3px;
}

details {
    margin: 3rem 0;
}

/* CSS for most forms, probably needs a better name */

.action-form input:not(input[type="checkbox"]), .action-form fieldset, .action-form select {
    display: block;
}

.action-form input[type="text"], .action-form input[type="number"], .action-form input[type="url"] {
    width: 100%;
    border: unset;
    border-radius: 3px;
    box-sizing: border-box;
}

select {
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    border: unset;
    box-sizing: border-box;
    border-radius: 3px;    
    background-position: calc(100% - 0.75rem) center !important;
}
