/* General */
:root {
  --background-color: white;
  --accent-color: #4a6741;
  --accent-text: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.overflow-x-scroll { 
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overflow-x-scroll::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

/* Table styling*/
table {
  min-width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 3px;
} 

thead {
  background-color: var(--accent-color);
  color: var(--accent-text);
}

th, td {
  padding: 1em;
}

tbody tr:nth-child(odd) {
  background-color: #b8d8be;
}

input:invalid, select:invalid {
  border: 1px solid red;
  background-color: #ffdddd;
}

/* Adds a red asterisk to required fields on supported browsers (not firefox, as of 2023-09-26) */
label:has(+input:required, +select:required)::after {
  content: '*';
  color: red;
}

/* Responsive Layout */
.layout-main {
  position: relative;
  width: 1250px;
  max-width: 100%;
  margin: auto;
  padding: 0 1em;
  box-sizing: border-box;
}

/* Header */

header {
  position: sticky;
  top: 0;
  padding: 1em 0;
  background-color: var(--background-color);
  z-index: 9;
}
