/* General */
:root {
  --background-color: white;
  --accent-color: #4a6741;
  --accent-text: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.overflow-x-scroll { 
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overflow-x-scroll::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

/* Table styling*/
table {
  min-width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 3px;
} 

thead {
  background-color: var(--accent-color);
  color: var(--accent-text);
}

th, td {
  padding: 1em;
}

tbody tr:nth-child(odd) {
  background-color: #b8d8be;
}

tbody tr:nth-child(even) {
  background-color: #eff9f1;
}

tbody a {
  color: black;
}

/* Responsive Layout */
.layout-main {
  position: relative;
  width: 1250px;
  max-width: 100%;
  margin: auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.flex-grow-100 {
  flex-grow: 1;
}

.flex-grow-75 {
  flex-grow: .75;
}

.flex-grow-50 {
  flex-grow: .5;
}

.flex-grow-25 {
  flex-grow: .25;
}

/* Header */

header {
  position: sticky;
  top: 0;
  padding: 1em 0;
  background-color: var(--background-color);
  z-index: 9;
}

header nav {
  display: flex;
  gap: 1em;
  align-items: center;
}

.header-link{
  text-decoration: unset;
  color: black;
  font-weight: bold;
}

.header-link:hover {
  border-bottom: 3px solid var(--accent-color);
  margin-bottom: -3px;
}

/* Forms */

.card {
  margin: 5em 0;
  border-radius: .5em 0 0 .5em;
  box-shadow: 0 0 1em #ececec;
  box-sizing: border-box;

}

.user-info-form { /* Login / signup */
  padding: 2em;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .card {
    box-shadow: unset;
    margin: 3em 0;
  }
  .user-info-form {
    padding: 0;
  }
}

.user-info-form > *, .user-info-form > form > * {
  margin: 1em 0;
}

.user-info-form > form > input[type="text"], .user-info-form > form > input[type="password"], .user-info-form > form > input[type="email"] {
  display: block;
  padding: 1em;
  width: 100%;
  border-radius: 3px;
  border: unset;
  background-color: #ececec;
  box-sizing: border-box;
}

.user-info-form > form > input[type="submit"] {
  display: block;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: .75em 0;
  border: unset;
  background-color: var(--accent-color);
  color: var(--accent-text);
  border-radius: 3px;
  display: block;
  width: 100%;
  max-width: 10em;
}

/* Adds a red asterisk to required fields on supported browsers (not firefox, as of 2023-09-26) */
label:has(+input:required, +select:required)::after {
  content: '*';
  color: red;
}

/* Change names, icons for input fields, decorative image for login */
.image {
  background-color: lightgray;
  border-radius: .25em 0 0 .25em;
  width: 4em;
  height: 3em;
  display: grid;
  place-items: center;
}

.image > img  {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.login-image {
  width: 100%;
  min-height: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 0 .5em .5em 0;
}

@media (max-width: 750px) {
  aside {
    display: none;
  }
}

/* Call to action links */

.call-to-action-primary, .call-to-action-secondary {
  border: 3px solid var(--accent-color);
  text-decoration: unset;
  color: black;
  border-radius: 3px;
  padding: .5em 2em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}

.call-to-action-primary {
  background-color: var(--accent-color);
  color: var(--accent-text);
}
