@import url('layouts.css');
@import url('userinfo.css');
@import url('actionform.css');
@import url('forms.css');

/* General  --accent-color: #A17BAC; 33482d*/
:root {
  --background-color: white;
  --accent-color: seagreen;
  --accent-color-dark: #1b5233;
  --accent-text: white;
}

body {
  margin: 0 0 1em 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  line-height: 1.5;
}

.overflow-x-scroll { 
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overflow-x-scroll::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

summary {
  cursor: pointer;
  padding: 1em;
  background-color: lightgray;
  border-radius: 3px;
}

/* Forms */
label:has(+input:required, +select:required)::after {
  content: '*';
  color: red;
}

input:focus:not(input[type="checkbox"], input[type="file"], input[type="submit"]) {
  outline: none;
  border-bottom: 3px solid var(--accent-color);
  margin-bottom: calc(1em - 3px);
  border-radius: 3px 3px 0 0;
}

button, select, input {
  font-family: Arial, Helvetica, sans-serif;
}

select:focus {
  outline: 3px solid var(--accent-color);
}

input[type="file"] {
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  background-color: transparent;
  padding: 2em;
  border: 3px dashed lightgray;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  border-radius: 3px;
  border: none;
  padding: .5em 3em;
  margin: 0 .75em;
  background-color: lightgray;
  font-weight: bold;
}

input[type="file"]:focus::file-selector-button {
  background-color: var(--accent-color);
  color: var(--accent-text);
}

input[type="file"]:focus {
  border: 3px dashed var(--accent-color);
  outline: none;
}

input:invalid, select:invalid {
  background-color: pink !important;
}

/* Call to action links */

.call-to-action-primary, .call-to-action-secondary {
  background-color: transparent;
  border: 3px solid var(--accent-color);
  text-decoration: unset;
  color: black;
  border-radius: 3px;
  padding: .5em 2em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  display: block;
}

.call-to-action-primary {
  background-color: var(--accent-color);
  color: var(--accent-text);
}

.call-to-action-primary:hover, .call-to-action-primary:focus {
  background-color: var(--accent-color-dark);
  border-color: var(--accent-color-dark);
  outline: 0;
}

.call-to-action-secondary:hover, .call-to-action-primary:focus {
  border-color: var(--accent-color-dark);
  outline: 0; 
}

/* Lists */

ul {
  padding-inline-start: 0;
}

li ul {
  padding-left: 40px;
  margin-left: 5px;
}