.userInfo {
    padding: 2rem;
    @media (max-width: 500px) {
        padding: 0;
    }
}

.form > input[type="submit"] {
    text-align: center;
    background-color: var(--accent-color);
    border: 3px solid var(--accent-color);
    color: white;
    text-decoration: unset;
    border-radius: .5rem;
    padding: .5rem 2rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.form > input[type="submit"]:hover, .form > input[type="submit"]:focus {
    background-color: var(--accent-color-dark);
    border-color: var(--accent-color-dark);
    outline: 0;
}

.form input[type="text"], .form input[type="password"], .form input[type="email"] {
    border: none;
    border-radius: 0 3px 3px 0;
    z-index: 1;
    padding: .75rem;
} 

.form label {
    display: block;
}

.submitButton {
    margin: 3rem 0 .75rem 0;
}

.inputField {
    border-radius: 3px;
}

.inputField input {
    outline: unset !important;
    box-shadow: unset !important;
}

.inputField:has(input:focus) {
    outline: 2px solid var(--accent-color);
    box-shadow: 0 0 .5rem -3px var(--accent-color);
}