.breadCrumb {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.breadCrumb:hover {
    text-decoration: underline;
}

.breadCrumbTitle {
    color: gray;
    font-weight: initial
}