/* Header */

.header {
    position: sticky;
    top: 0;
    padding: 1em 0;
    background-color: white;
    z-index: 9997;
}
    
.header nav {
  display: flex;
  gap: 1em;
  align-items: center;
}
  
.headerLink{
  text-decoration: unset;
  color: black;
  font-weight: bold;
}
  
.headerLink:hover {
  border-bottom: 3px solid var(--accent-color);
  margin-bottom: -3px;
}

@media (max-width: 500px) {
  .headerLink {
    display: none;
  }
}