/* Header */

.header {
    position: sticky;
    top: 0;
    height: 100dvh;
    box-shadow: 0 0 .5rem -3px var(--gray);
    padding: 1rem;
    z-index: 9997;
}

.header nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 1rem;
  margin-top: 5rem;
  width: 10rem;
  transition: width .2s ease-in-out;
  @media (max-width: 750px) {
    display: none;
  }
}

.menuToggleContainer {
  position: relative;
  display: grid;
  place-items: center;
  width: fit-content;
  transition: background-color .2s ease;
  padding: .25rem;
  border-radius: 9999px;
}
  
.menuToggle {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.menuToggleContainer:has(.menuToggle:hover) {
  background-color: var(--gray);
}

.menuToggleContainer:has(.menuToggle:checked) ~ nav {
  width: calc(24px + 1rem);
}

.headerLink{
  text-decoration: unset;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  border-radius: .5rem;
}
  
.headerLink:hover {
  background-color: var(--gray-90);
}
